@{
    ViewData["Title"] = "Clients";
}
@model List<Gym_Web_Application.Models.ClientModel>

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="mb-0">Clients</h1>
                        </div>
                        <div class="col text-right">
                            <input class="table-search-bar" placeholder="Search for Client">
                        </div>
                        <div class="col text-right">
                            <a class="btn-add" asp-controller="Clients" asp-action="AddClients">Add Client</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Memberships</th>
                                <th scope="col">Classes</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var client in Model)
                            {
                            <tr>
                                <th scope="row">
                                    @client.ID
                                </th>
                                <td>
                                    @($"{client.FirstName} {client.LastName}")
                                </td>
                                <td>
                                    @client.Email
                                </td>
                                <td>
                                    @client.Age
                                </td>
                                <td>
                                    @client.Gender
                                </td>
                                <td>
                                    @client.PhoneNumber
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-activate" asp-controller="Packages"
                                        asp-action="ViewPackages">Activate</a>
                                </td>
                                <td>
                                    @Html.ActionLink("Reserve", "ReserveClasses", "Classes", new { id = client.ID }, new { @class = "btn btn-sm btn-primary" })
                                </td>
                                <td>
                                    @Html.ActionLink("Edit","EditClients", new{id = client.ID},new{@class="btn btn-sm btn-primary"})
                                    @using(Html.BeginForm("DeleteClients","Clients",FormMethod.Post))
                                    {
                                        @Html.Hidden("id",client.ID)
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
