@model Gym_Web_Application.Models.SalesReportModel

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div class="user-form">
                <h1>@ViewData["Title"]</h1>
                @if (Model != null)
                {
                    <div class="sales-report">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Generated At:</th>
                                    <td>@Model.CreatedAt.ToString("yyyy-MM-dd")</td>
                                </tr>
                                <tr>
                                    <th scope="row">This Month's Total Revenue:</th>
                                    <td>@Model.TotalRevenue</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total Memberships Sold This Month:</th>
                                    <td>@Model.TotalMembershipsSold</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total Classes Attended This Month:</th>
                                    <td>@Model.TotalClassesAttended</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>No sales report available.</p>
                }
            </div>
        </div>
    </div>
</div>

<form method="post" action="/SalesReport/GenerateAndNotify">
    <button id="generateReport" id="generateReport" class="btn btn-primary">Generate</button>
 </form>

 
