@{
    ViewData["Title"] = "Memberships";
}
@model List<Gym_Web_Application.Models.MembershipModel>

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div id="myFreezeModal" class="freezeDatepicker">
                <div class="freezeContent">
                    <div class="freezeHeader">
                        <span class="freezeClose" id="closeModalBtn">&times;</span>
                        <h2>Select the End date</h2>
                    </div>
                    <div class="freezeBody">
                        <input type="date" id="freezeDate" name="freezeDate">
                    </div>
                    <div class="freezeFooter">
                        <button class="btn btn-sm btn-freeze">Freeze</button>
                    </div>
                </div>
 @{
    // Retrieve the JobTitleID from the session
    int? jobTitleId = null;
    if (ViewContext.HttpContext != null && ViewContext.HttpContext.Session != null)
    {
        jobTitleId = Convert.ToInt32(ViewContext.HttpContext.Session.GetString("EmployeeJobTitleID"));
    }
}
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="mb-0">Memberships</h1>
                        </div>
                        <div class="col text-right">
                            <input class="table-search-bar" placeholder="Search for a Membership">
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Membership</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Visits</th>
                                <th scope="col">Inbody</th>
                                <th scope="col">Status</th>
                                @if(jobTitleId != 3 )
                                {
                                <th scope="col">Freeze</th>
                                <th scope="col">Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.memberships != null)
                            {
                                @foreach (var membership in ViewBag.memberships)
                                {
                                    <tr>

                                        <th scope="row">
                                            @membership.ID
                                        </th>
                                        <td>
                                            @ViewBag.clientNames[ViewBag.memberships.IndexOf(membership)]
                                        </td>
                                        <td>
                                            @membership.PackageID
                                        </td>
                                        <td>
                                            @membership.StartDate
                                        </td>
                                        <td>
                                            @membership.EndDate
                                        </td>
                                        <td>
                                            @membership.VisitsCount
                                        </td>
                                        <td>
                                            @membership.InbodySessionsCount
                                        </td>
                                        <td>
                                            @membership.IsActivated
                                        </td>
                                    @if(jobTitleId != 3 )
                                    {
                                        <td>
                                            @if (@membership.Freezed == "Freezed")
                                            {
                                                <button type="button" onclick="showModal(@membership.ID)"
                                                    class="btn btn-sm btn-unfreeze">Unfreeze</button>
                                                @using (Html.BeginForm("UnfreezeMembership", "Memberships", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="id" value="@membership.ID" />
                                                    <div id="modal-@membership.ID" class="modal">
                                                        <div class="modal-content">
                                                            <div class="modal-sandbox"></div>
                                                            <div class="modal-box">
                                                                <div class="close-modal" onclick="closeModal(@membership.ID)">
                                                                    &#10006;
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="confirmation-text" id="confirmation-text">Are you sure you
                                                                        want to unfreeze this membership?</p>
                                                                    <br />
                                                                    <button type="submit" id=" freeze-button"
                                                                        class="btn btn-sm btn-unfreeze">
                                                                        Unfreeze
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                            @if (@membership.Freezed == "Not Freezed")
                                            {
                                                <button class="btn btn-sm btn-freeze" type="button"
                                                    onclick="showModal(@membership.ID)" id="freeze-button">Freeze</button>
                                                @using (Html.BeginForm("FreezeMembership", "Memberships", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="id" value="@membership.ID" />
                                                    <div id="modal-@membership.ID" class="modal">
                                                        <div class="modal-content">
                                                            <div class="modal-sandbox"></div>
                                                            <div class="modal-box">
                                                                <div class="close-modal" onclick="closeModal(@membership.ID)">
                                                                    &#10006;
                                                                </div>
                                                                <div class="modal-body">
                                                                    @{
                                                                        var minFreezeDate = DateTime.Now.Date.AddDays(3);
                                                                        var maxFreezeDate =
                                                                        DateTime.Now.Date.AddDays(@membership.FreezeCount);

                                                                    }
                                                                    <div class="datePicking" id="datePickerContainer">
                                                                        <label for="datepicker">Choose a
                                                                            Date:</label>
                                                                        <input type="date" id="datepicker-@membership.ID"
                                                                            onchange="handleDateChange(@membership.ID)"
                                                                            name="freezeEndDate"
                                                                            min="@minFreezeDate.ToString("yyyy-MM-dd")"
                                                                            max="@maxFreezeDate.ToString("yyyy-MM-dd")" />
                                                                    </div>
                                                                    <p class="confirmation-text" id="confirmation-text"></p>
                                                                    <br />
                                                                    <button type="submit" id=" freeze-button"
                                                                        class="btn btn-sm btn-freeze">
                                                                        Freeze
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @if (@membership.IsActivated != "Activated")
                                            {
                                                <a href="packagesAdminDash.html" class="btn btn-sm btn-freeze" disabled>Freeze</a>
                                            }

                                        </td>
                                        <td>
                                            @* <a href="#!" class="btn btn-sm btn-primary">Edit</a> *@
                                            @using (Html.BeginForm("DeleteMembership", "Memberships", FormMethod.Post))
                                            {
                                                <input type="hidden" name="id" value="@membership.ID" />
                                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                            }
                                        </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modal = document.getElementById("myFreezeModal");
        var btn = document.getElementById("btnFreeze");
        var span = document.getElementsByClassName("freezeClose")[0];

        btn.onclick = function () {
            modal.style.display = "block";
        };

        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    });

    function handleDateChange(modalID) {
        var selectedDate = $("#datepicker-" + modalID).val();
        var modalLabel = document
            .getElementById("modal-" + modalID)
            .querySelector(".confirmation-text");
        if (selectedDate) {
            modalLabel.textContent =
                "Are you sure you want to freeze your membership to " +
                selectedDate +
                "?";
        }
    }

    function showModal(modalID) {
        console.log("Modal ID: " + modalID);
        $("#modal-" + modalID).fadeIn();
    }
    function closeModal(modalID) {
        $("#modal-" + modalID).fadeOut();
    }
</script>