@{
    ViewData["Title"] = "Packages";
}
@model List<Gym_Web_Application.Models.MembershipModel>

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div id="myFreezeModal" class="freezeDatepicker">
                <div class="freezeContent">
                    <div class="freezeHeader">
                        <span class="freezeClose" id="closeModalBtn">&times;</span>
                        <h2>Select the End date</h2>
                    </div>
                    <div class="freezeBody">
                        <input type="date" id="freezeDate" name="freezeDate">
                    </div>
                    <div class="freezeFooter">
                        <button class="btn btn-sm btn-freeze">Freeze</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="mb-0">Memberships</h1>
                        </div>
                        <div class="col text-right">
                            <input class="table-search-bar" placeholder="Search for a Membership">
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Membership</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Visits</th>
                                <th scope="col">Inbody</th>
                                <th scope="col">Freeze</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var membership in Model)
                            {
                                <tr>

                                    <th scope="row">
                                        @membership.ID
                                    </th>
                                    <td>
                                        @membership.ClientID
                                    </td>
                                    <td>
                                        @membership.PackageID
                                    </td>
                                    <td>
                                        @membership.StartDate
                                    </td>
                                    <td>
                                        @membership.EndDate
                                    </td>
                                    <td>
                                        @membership.VisitsCount
                                    </td>
                                    <td>
                                        @membership.InbodySessionsCount
                                    </td>
                                    <td>
                                        <a href="packagesAdminDash.html" class="btn btn-sm btn-freeze">Freeze</a>
                                    </td>
                                    <td>
                                        <a href="#!" class="btn btn-sm btn-primary">Edit</a>
                                        <a href="#!" class="btn btn-sm btn-delete">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modal = document.getElementById("myFreezeModal");
        var btn = document.getElementById("btnFreeze");
        var span = document.getElementsByClassName("freezeClose")[0];

        btn.onclick = function () {
            modal.style.display = "block";
        };

        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    });
</script>